{% extends 'demo/base.html' %}
{% load staticfiles %}
{% block about_active %}active{% endblock %}
{% block script %}
    <script src="{% static 'demo/js/new/main.js' %}"></script>
    <script src="{% static 'demo/js/new/entity.js' %}"></script>
    <script src="{% static 'demo/js/new/attributes.js' %}"></script>
    <script src="{% static 'demo/js/new/config.js' %}"></script>
    <script src="{% static 'demo/js/new/query.js' %}"></script>
{% endblock %}
{% block body %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Action</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                      <button id="all_submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search" style="width: 1.5rem;"></span>
                            Query
                      </button>

                      <button id="reset" class="btn btn-default">
                        <span class="glyphicon glyphicon-exclamation-sign" style="width: 1.5rem;"></span>
                        Reset
                      </button>
                    <img class="attributes_submitting" style="display: none;" src="{% static 'demo/images/ui-anim_basic_16x16.gif' %}" />
                </td>
                <td>
                    <div class="input-group">
                        <div id="entities">
                            <input type="text" class="unselected" placeholder="v0">
                        </div>
                        
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="entities_add"><span class="glyphicon glyphicon-plus" style="width: 1.5rem;"></span></button>
                        </span>
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="entities_delete"><span class="glyphicon glyphicon-minus" style="width: 1.5rem;"></span></button>
                    </span>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="entities_submit"><span class="glyphicon glyphicon-pencil" style="Width: 1.5rem;"></span></button>
                        </span>
                    </div>
                </td>
            </tr>
            <tr id="input_field">
                <td>
                    <span class="badge badge-primary badge-head head"> Input </span>
                    <img class="entity_submitting" style="display: none;" src="{% static 'demo/images/ui-anim_basic_16x16.gif' %}" />
                </td>
                <td>
                    <div id="input_entities"></div>
                </td>
            </tr>
            <tr id="negvative_field">
                <td>
                    <span class="badge badge-warning badge-head head">
                     Negative
                 </span>
                    <img class="entity_submitting_neg" style="display: none;" src="{% static 'demo/images/ui-anim_basic_16x16.gif' %}" />
                </td>
                <td>
                    <div id="negative_entities"></div>
                </td>
            </tr>
            <tr id="results_field">
                <td> 
                    <span class="badge badge-success badge-head">
                        Results
                    </span>
                    </td>
                <td>
                    <div id="results_entities"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="attributes">
    </div>
    <div class="sparql"></div>
    <div id="modal_field"></div>
{% endblock %}
